/* lcahsd */
html { height: 100%; }
body { 
  margin: 0; padding: 0; 
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  color: rgba(0, 0, 0, 0.9);
}
.nav-list ul, .nav-list li {
    padding: 8px;
    display: inline;
}
.app {
    margin: auto;
    max-width: 600px;
}
.app-wrap {
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    padding: 8px;
}
.simple-dumb-class {
    background: rgba(0, 0, 0, 0.75);
    color: rgba(255, 255, 255, 0.85);
    margin-top: 16px;
    padding: 16px;
}
.clearBoth{
    clear: both;
}