.e2e {
    border: 1px solid rgba(0,0,0,0.9);
    padding: 8px;
    border-radius: 4px;
    color: rgba(255,255,255,0.85);
    background: rgba(0,0,0,0.75);
    width: 350px;
    position: absolute;
    top: 8px;
    right: 8px;
}
.e2e-formEmailField {
    width: 94%;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 8px;
}
.e2e-formBtn {
    padding: 8px;
}
.e2e a {
    color: rgba(255,255,255,0.85);
}
.e2e a:hover {
    color: #00a818;
}
.e2eImg{
    width: 25px;
}
.clearBoth {
    clear: both;
}